.button {
    width: 80px;
    height: 40px;
    border-radius: 23px;
}
.border_radius {
    border-radius: 53px;
}

.box {
    border:2px solid  blue;
    text-align: left;
    background-color:#8ec0be;
    color: black;
}
.w_20{
    width: 20%;
    float: left;
    color: #1b296c;
}
.w_80{
    color: #38534a;
    width: 80%;
    float: left;
}
.centeralign{
    text-align: center;
}
.json-style {
    padding: 20px;
    border-radius: 114px;
    background-color: #74db7c;
}
.txt_center{
    text-align: center;
}
.w_100{
    width: 100%;
}